{% extends 'base.html.twig' %}

{% block title %}Contracts{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <div class="partition__menu">
            <a href="{{ path('contract', {status:null}) }}">all</a>
            <a href="{{ path('contract', {status:'is_done'}) }}">is done</a>
            <a href="{{ path('contract', {status:'not_done'}) }}">not done</a>
            <a href="{{ path('create_contract') }}">create</a>
        </div>
        <table class="table table-responsive">
            <tr>
                <th>createdAt</th>
                <th>Num</th>
                <th>deadline</th>
                <th>Customer</th>
                <th>база</th>
                <th>S изделий</th>
                <th>Slope L</th>
                <th>Slope W</th>
                <th>Add Work</th>
                <th>Sum</th>
                <th>PrePay</th>
                <th>PayMet</th>
                <th>Measures</th>
                <th>Manager</th>
                <th>Result</th>
                <th>ReMeasure</th>
                <th>Discount</th>
                <th>ProdType</th>
                <th>Profile</th>
                <th>Edit</th>
            </tr>
            {% for contract in contracts %}
                {% if contract.isDone == true %}
                <tr class="bg-info">
                    {% endif %}

                <td>{{ contract.createdAt.format("Y.m.d") }}</td>
                <td>{{ contract.contractNum }}</td>
                <td>{{ contract.deadlineAt.format("Y.m.d") }}</td>
                <td>{{ contract.customer }}</td>
                <td>{{ contract.baseSum }}</td>
                <td>{{ contract.productArea }}</td>
                <td>{{ contract.slopesLength }}</td>
                <td>{{ contract.slopesWidth }}</td>
                <td>{{ contract.additionalSum }}</td>
                <td>{{ contract.sum }}</td>
                <td>{{ contract.prepayment }}</td>
                <td>need</td>
                <td>{{ contract.measuring }}</td>
                <td>{{ contract.manager }}</td>
                <td>need</td>
                <td>need</td>
                <td>{{ contract.discount }}%</td>
                <td>{{ contract.productType }}</td>
                <td>{{ contract.profile }}</td>
                    <td><a href="{{ path('contract_edit', {id:contract.id}) }}">edit</a></td>
                    <td><a class="salary-add-btn" href="#" data-link="" data-toggle="modal" data-target="#salary-modal" data-contract_id="{{ contract.id }}">addSalary</a></td>
                </tr>

            {% endfor %}
        </table>

    </div>


{% endblock %}