{% extends 'base.html.twig' %}

{% block title %}Contracts{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-responsive">
            <tr>
                <th>Num</th>
                <th>createdAt</th>
                <th>deadline</th>
                <th>Customer</th>
                <th>сумма договора</th>
                <th>Затраты</th>
                <th>Profit</th>
                <th>Worker</th>
                <th>Montage Work</th>
                <th>Slopes Work</th>
                <th>Add Work</th>
                <th>FixSalary</th>
            </tr>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.contractNum }}</td>
                    <td>{{ contract.createdAt.format("Y.m.d") }}</td>
                    <td>{{ contract.deadlineAt.format("Y.m.d") }}</td>
                    <td>{{ contract.customer }}</td>
                    <td>{{ contract.sum }}</td>
                    <td>{{ contract.costAll }}</td>
                    <td>{{ contract.earning }}</td>
                    <td>{{ contract.employeeWorker }}</td>
                    <td>{{ contract.productWorkSum }}</td>
                    <td>{{ contract.sumSlopeWork }}</td>
                    <td>{{ contract.additionalWorkSum }}</td>
                    <td><a href="{{ path('create_salary',{contract_id:contract.id}) }}">fix salary</a></td>
                </tr>

            {% endfor %}
        </table>

    </div>


{% endblock %}