<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('modal') }}
        {% endblock %}
    </head>
    <body>
    <header class="bg-dark mb-5">
        <div class="container p-2 d-flex header__menu">
            <a href="{{ path('contract') }}">Contracts</a>
            <a href="{{ path('money') }}">Money</a>
            <a href="">Salary</a>
            <a href="">Statistic</a>
        </div>

    </header>
        {% block body %}{% endblock %}

{#        <div class="modal fade" id="salary-modal" tabindex="-1" aria-labelledby="salary-modal" aria-hidden="true">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                    <div class="modal-body form-container">#}
{#                        <form method="post" id="salaryCreateForm" class="form-actions" action="">#}
{#                            <div class="form-group">#}
{#                                <div class="input-group mb-3">#}
{#                                    <input type="text" name="salary_sum" id="salary_sum">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <button class="btn btn-success">send</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </body>



</html>
